numpy==1.26.4
pandas==2.2.2

spacy==3.7.4
thinc==8.2.3

textstat==0.7.3
vaderSentiment==3.3.2

flask
flask-cors
pandas
numpy
scikit-learn
xgboost
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
textstat
vaderSentiment
joblib
gunicorn